#Taku{

   font-family: 'Orbitron', sans-serif; 
}

.text1{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    color: #664C4B;
}

.text2{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    color: #664C4B;
}

.text3{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    color: #664C4B;
}

.navbar{
    color: #F8DCD1;
}

.navlink{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 100;
    color: #664C4B;
}

body{
    color: #FAF7F3;
}