/*Main Site Design*/

body{

    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color: #faf9f7;

}
h1, h2 {

    font-family: 'Alice', serif;
    padding: 0;
    margin: 0;
    line-height: 1.25;
}

header{

    margin: 3em 0;
}

.logo h2{

    font-size: .75em;
    font-weight: 600;
    color: #DA8260;
    letter-spacing: .12em;
}

/*Home*/
    
    .home main{

        margin: 1em 0 0 0;
    }
    /*Branding*/

    .logo, .social, .welcome{
        padding: 0;
        margin: 0;

    }
    /*Reel*/

    .title{
        text-align: center;
        
    }

    /*Welcome Message*/

    .welcome, p{

        text-align: center;
        font-family: 'Alice', serif;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 2em;
        color: #DCA780;
    }

    .welcome{
        font-weight: 600;
    }

    /*Navigation Bar*/

    nav{
        margin: 1em 0 0 0;
    }

    .nav-link,a{
        color: #e9e6e0;

    }
    
    .nav-link,.dropdown-item{

        font-size: .75em;
    }
    .nav-item{

        background-color: #DA8260;
        margin: 0 1em 0 0;
    }

    .nav-link:focus, .nav-link:hover{
        color: #fff;
    }
    .nav-last{
        margin: 0;
    }
   
    video{

        width: 100%;
    }

    /*Social Media Links*/
    
    
    .social, a{

        padding: 0 2em 0 0;
        font-size: 1em;
        text-decoration: none;
        color: #DA8260;
    }

    .social{
        margin: 1em 0;
    }
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        color: #DA8260;
    }

    .fa:hover {
        opacity: 0.7;
    }

    /*Latest Work Bin*/
    .card-title{

        text-align: center;
    }

/*Subpages*/

    /*Logo*/

    .subpage, col-md-4{

        margin-left: 1em;
    }
    /*Navigation Bar*/

    .nav justify-content-end, .subpage{

        margin-right: 1em;
    }

    /*Footer*/

    .social, .footer{

        text-align: center;
        margin-top: 4em;
    }

/*My Story*/

    .headshot{

        border-radius: 50%;
    }

    .pic, col-md-4{

        float: right;
    }

    col-md-6, p{
        text-align: center;
    }

    /*ONLY "My Story" Title*/

    col-md-6, .bio{

        text-align: center;
    }

    col-md-6, .sub-title{

        text-align: center;
    }

   
    col-md-4 .sub-title{

        text-align: center;
    }
/*Experiences*/

    .experience-title, .experience-only{

        text-align: left;
    }

    .experience-only{

        margin-top: 1em;
    }

    .experiences{

        margin: 2em;
    }

    col-md, .bio{

        margin-top: 1em;
    }

    .experiencepics{

        
    }

/*Resume*/

    .resume-title{

        text-align: center;
        margin-bottom: 3em;
    }

/*Video Reel*/

.reel-title{

    text-align: center;
    margin-bottom: 3em;
}

/*Clips*/

.clip-title{

    text-align: center;
}

.clip-button{

    background-color: #DCA780;
    outline-color: #DCA780;
    color: #faf9f7;
    border:#DCA780;
    border-radius: 25px;
    margin: 1em;
}

.web{

    margin-bottom: 33.5em;
}

/*Contact*/

.contact-title{

    text-align: center;
    margin-bottom: 1em;
    color: #DA8260;
}

#c-info{

    text-align: center;
}

.socials{

    text-align: center;
}

.contact-card{

    margin: 0 2em 0 2em;
    
}

.contact-picture{

    align-content: center;
    margin: 3em 0 0 8em;
}

    
/*Site Colors and Fonts:

Colors-

Tiger Lily: #DA8260
Rose Quartz: #F4B9B8
Peach: #DCA780
Ivory: #E9E6E0

Fonts-

<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Alice&family=Cardo&family=Hind:wght@300&family=Lato:wght@300;400&family=Playfair+Display&display=swap" rel="stylesheet">

font-family: 'Playfair Display', serif;
font-family: 'Alice', serif;
font-family: 'Lato', sans-serif;

OR

font-family: 'Cardo', serif;
font-family: 'Hind', sans-serif;
*/